
.product-continer img{

    width:156px;
    height: auto

}
.product-continer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
   
  }
.container{

    border: 2px solid green;
    margin:14px ; 
    padding: 10px ;
    position: relative;
   
}

.btn{
    background-color: chocolate;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px; /* align the left edge of the button with the left edge of the container *//* center the button horizontally */
}

@media screen and (max-width:1100px){
    .product-continer{
        grid-template-columns: repeat(2, 1fr);
    }    }
